{% for component in components %}


                <div>
                    <a href="/en/components/?comp={{ component.component_name_en }}"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">{{ component.component_icon }}</div>
                        <div class="uk-text-left uk-margin-small-left">{{ component.component_name_en }}</div>
                    </div></a>
                </div>

{% endfor %}