{% load wagtailimages_tags topics_tag %}

<div class="uk-padding-small">
    <ul uk-nav>
        <li class="uk-parent{% if filter == 'comp'  %} uk-open{% endif %}">
            <a href="{{ item.href }}">Collections<span uk-navbar-parent-icon></span></a>
    <!--    Подменю-->


                <ul uk-nav class="uk-nav-sub">
                    {% components_en %}

                </ul>

        </li>
        <li class="uk-parent{% if filter == 'topic'  %} uk-open{% endif %}">
            <a href="{{ item.href }}">Topics<span uk-navbar-parent-icon></span></a>
            <!--    Подменю-->


            <ul uk-nav class="uk-nav-sub">
                {% topics_en %}

            </ul>

        </li>
        <li class="uk-parent{% if filter == 'country'  %} uk-open{% endif %}">
            <a href="#">Countries<span uk-navbar-parent-icon></span></a>
            <!--    Подменю-->


            <ul uk-nav class="uk-nav-sub">
                {% countries_en %}

            </ul>

        </li>        
        <li class="">
            <a href="/en/avtory-i-publikacii/">Authors</a>
        </li>
        <li class="">
            <a href="/en/publikacii-po-godam/">On years</a>
        </li>

        <li class="">
            <a href="/en/analitics/">Statistics</a>
        </li>
    </ul>
</div>