{% extends "internalbase.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block lcolumn %}
{% include "filtermenu_en.html" %}
{% endblock %}

{% block rcolumn %}

<!--Общая информация о публикации-->
<div uk-grid>
    <div class="uk-width-1-1" uk-grid>
        <div class="uk-width-1-1 uk-width-1-2@s uk-flex uk-flex-center">
            <div class="uk-panel uk-cover-container uk-padding-small">
                {% image page.pubs_photo fill-425x600 class="uk-cover shadow10" %}
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s">
            <div>
                <h3>{{ page.pubs_header }}</h3>
                <p class="pubs_category"><span>Year:</span> {{ page.pubs_god }}</p>
                <p class="pubs_category"><span>Collections: </span>
                    {% for component in page.pubs_components.all %}
                        {{ component.component_name_en }}{% if component.pk != page.pubs_components.last.pk  %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="pubs_category"><span>Topics: </span>
                    {% for topic in page.pubs_topics.all %}
                        {{ topic.topic_name_en }}{% if topic.pk != page.pubs_topics.last.pk  %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="pubs_category"><span>Authors: </span>
                    {% for author in page.pubs_avtor.all %}
                        {{ author.avtor_full_name }}{% if author.pk != page.pubs_avtor.last.pk  %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="pubs_category"><span>Countries: </span>
                    {% for country in page.pubs_countries.all %}
                        {{ country.country_name_en }}{% if country.pk != page.pubs_countries.last.pk  %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="pubs_category"><span>Source: </span>
                    {% if pub.pubs_ist_url %}
                        <a  href="{{ pub.pubs_ist_url }}">
                            {{ pub.pubs_ist }}
                        </a>
                    {% else %}
                        {{ pub.pubs_ist }}
                    {% endif %}
                </p>

                <div>{{ page.pubs_intro | richtext }}</div>

                <p class="pubs_category">Downloads:</p>
                <ul class="">
                    {% for item in page.pubs_documents.all %}
                    <li>
                        <a class="" target="_blank" href="{{ item.pubs_doc.url }}">{{ item.pubs_doc.title }}</a>

                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <div>{{ page.pubs_description | richtext }}</div>
    {% include_block page.pubs_body %}
<!-- Childrens -->
{% if page.pubs_vitrina %}
<div class="uk-section uk-section-default uk-section-xsmall">
    <div class="uk-child-width-1-2" uk-grid>

        {% for children in childrenpages %}
        <div>
            <div class="uk-inline">
                {% with children=children.specific %}
                    {% with children.main_image as main_image %}
                        {% if main_image %}
                        {% image main_image fill-500x330 %}
                        {% endif %}
                    {% endwith %}
                <div class="uk-overlay uk-overlay-default uk-position-bottom  uk-flex uk-flex-middle uk-flex-center uk-text-center">
                    <a class="overlay-link" href="{% pageurl children %}">{{ children.title }}</a>
                </div>
                {% endwith %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% include_block page.pubs_body_bottom %}    
</div>


{% endblock %}