{% extends "internalbase.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block lcolumn %}
{% include "filtermenu.html" %}
{% endblock %}

{% block rcolumn %}
<h3>{{ filter_header }}</h3>
    {% for pub in pubs %}
        {% with pub=pub.specific %}
    <!--Общая информация о публикации-->
            <div uk-grid>
                <div class="uk-width-1-1" uk-grid>

                    <div class="uk-width-1-1 uk-width-1-4@s uk-flex uk-flex-center uk-padding-small">
                        <div>
                            {% image pub.pubs_photo fill-425x600 class="uk-cover shadow10" %}
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-3-4@s">
                        <div>
                            <h5>{{ pub.pubs_header }}</h5>
                            <p class="pubs_category"><span>Год:</span> {{ pub.pubs_god }}</p>
                            <p class="pubs_category"><span>Разделы: </span>
                                {% for component in pub.pubs_components.all %}
                                    {{ component.component_name_ru }}{% if component.pk != pub.pubs_components.last.pk  %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="pubs_category"><span>Темы: </span>
                                {% for topic in pub.pubs_topics.all %}
                                    {{ topic.topic_name_ru }}{% if topic.pk != pub.pubs_topics.last.pk  %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="pubs_category"><span>Авторы: </span>
                                {% for author in pub.pubs_author.all %}
                                    {{ author.authors_full_name }}{% if author.pk != pub.pubs_author.last.pk  %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="pubs_category"><span>Страны: </span>
                                {% for country in pub.pubs_countries.all %}
                                    {{ country.country_name_ru }}{% if country.pk != pub.pubs_countries.last.pk  %}, {% endif %}
                                {% endfor %}
                            </p>

                            <div>{{ pub.pubs_intro | richtext }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="marginleft-20">
        {% endwith %}
    {% endfor %}

{% endblock %}