{% extends "internalbase.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block lcolumn %}
{% include "filtermenu.html" %}
{% endblock %}

{% block rcolumn %}
<h3>{{ filter_header }}</h3>
    {% for pub in pubs %}
        {% with pub=pub.specific %}
            {% include "pubs/pubslist.html" %}
        {% endwith %}
    {% endfor %}

{% if pubs.paginator.num_pages > 1 %}
<div class="pagination">
    {% if filter %}
        <span class="page-item">
        {% if pubs.has_previous %}
            <a href="?country={{ filter }}&page={{ pubs.previous_page_number }}" class="page-spannk">
                <span>&laquo; </span>
            </a>
        {% endif %}
        </span>
            {% for page_num in pubs.paginator.page_range %}
            <span class="page-item {% if page_num == pubs.number %} active{% endif %}">
            <a href="?country={{ filter }}&page={{ page_num }}" class="page-spannk"> {{ page_num }}</a>
            </span>
        {% endfor %}
        {% if pubs.has_next %}
            <span class="page-item">
            <a href="?country={{ filter }}&page={{ posts.next_page_number }}" class="page-link"><span>&raquo;</span></a>
            </span>
        {% endif %}
    {% else %}
        <span class="page-item">
        {% if pubs.has_previous %}
            <a href="?page={{ pubs.previous_page_number }}" class="page-spannk">
                <span>&laquo; </span>
            </a>
        {% endif %}
        </span>
        {% for page_num in pubs.paginator.page_range %}
            <span class="page-item {% if page_num == pubs.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-spannk"> {{ page_num }}</a>
            </span>
        {% endfor %}
        {% if pubs.has_next %}
            <span class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link"><span>&raquo;</span></a>
            </span>
        {% endif %}
    {% endif %}
</div>
{% endif %}
{% endblock %}