{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div uk-grid>
        <div class="uk-width-1-1" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@s uk-flex uk-flex-center">
                <div class="uk-panel uk-cover-container">
                    {% image page.authors_photo fill-450x600 class="uk-cover" %}
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s">
                <div>
                    <h3>{{ page.authors_full_name }}</h3>
                    <div>{{ page.authors_discription | richtext }}</div>
                </div>
            </div>
        </div>
</div>


{% endblock %}