{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!-- New publications -->
<div class="uk-section uk-section-default uk-section-xsmall">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-medium" uk-grid>
            <div class=" uk-width-4-4">
                <div>
                    {% with pubs=page.newpub_list.all %}
                        {% if pubs %}
                        <h3 class="uk-text-center">Новые публикации</h3>
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: true ">
                            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-4@m uk-child-width-1-2@s uk-grid">
                                {% for pub in pubs %}
                                <li>
                                    <a href="{% pageurl pub.newpub_item %}">
                                        <div class="uk-panel uk-box-shadow-small" uk-tooltip="title: {{ pub.newpub_item.pubs_header }}; pos: bottom">
                                            {% image pub.newpub_item.pubs_photo fill-440x600 %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Directions -->
<div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-top">
    <div class="uk-background-cover"
     style="background-image: url(/media/images/dis/books_fon.jpg);">
        <div class="uk-container uk-container-large">
            <h3 class="whitetext uk-text-center uk-margin-small-top">Основные направления</h3>
            <div class="uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-middle uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l" uk-grid uk-height-match="target: > div > a > .uk-card">
                <div>
                    <a href="/ru/components/?comp=Учебные пособия"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">menu_book</div>
                        <div class="uk-text-left uk-margin-small-left">Учебные пособия</div>
                    </div></a>
                </div>
                <div>
                    <a href="/ru/components/?comp=Научные публикации"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">library_books</div>
                        <div class="uk-text-left uk-margin-small-left">Научные публикации</div>
                    </div></a>
                </div>
                <div>
                    <a href="/ru/components/?comp=Материалы конференций"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">diversity_1</div>
                        <div class="uk-text-left uk-margin-small-left">Конференции</div>
                    </div></a>
                </div>
                            <div>
                    <a href="/ru/components/?comp=Книги"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">auto_stories</div>
                        <div class="uk-text-left uk-margin-small-left">Книги</div>
                    </div></a>
                </div>
                <div>
                    <a href="/ru/components/?comp=Директивные документы"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">assignment_turned_in</div>
                        <div class="uk-text-left uk-margin-small-left">Директивные документы</div>
                    </div></a>
                </div>
                <div>
                    <a href="/ru/components/?comp=Видео"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">video_library</div>
                        <div class="uk-text-left uk-margin-small-left">Видео</div>
                    </div></a>
                </div>
                <div>
                    <a href="/ru/components/?comp=Доклады"><div class="uk-flex uk-flex-middle direction-block uk-card uk-card-default uk-card-body">
                        <div class="material-symbols-outlined uk-margin-small-right">receipt_Long</div>
                        <div class="uk-text-left uk-margin-small-left">Доклады</div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best publications -->
<div class="uk-section uk-section-default uk-section-xsmall">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-medium" uk-grid>
            <div class=" uk-width-4-4">
                <div>
                    {% with pubs=page.bestpub_list.all %}
                        {% if pubs %}
                        <h3 class="uk-text-center">Популярные публикации</h3>
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: true ">
                            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-4@m uk-child-width-1-2@s uk-grid">
                                {% for pub in pubs %}
                                <li>
                                    <a href="{% pageurl pub.bestpub_item %}">
                                        <div class="uk-panel uk-box-shadow-small" uk-tooltip="title: {{ pub.bestpub_item.pubs_header }}; pos: bottom">
                                            {% image pub.bestpub_item.pubs_photo fill-440x600 %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Authors -->
<div class="uk-section uk-section-default uk-section-xsmall lightgrey">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-medium" uk-grid>
            <div class=" uk-width-4-4">
                <!-- Post -->
                <div>
                {% with authors=page.main_avtor.all %}
                    {% if authors %}
                    <h3 class="uk-text-center">Наши авторы</h3>
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 23000; pause-on-hover: true ">
                        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-6@m uk-child-width-1-3@s uk-grid">
                            {% for author in authors %}
                            <li>
                                <a href="/ru/avtory-i-publikacii/">
                                    <div class="uk-panel">
                                        {% image author.avtor_photo fill-450x600 %}

                                        <div class="uk-overlay uk-overlay-default uk-position-bottom  uk-flex uk-flex-middle uk-flex-center uk-text-center uk-margin-remove uk-padding-small height-60">
                                            <span class="overlay-link">{{ author.avtor_full_name }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

